In [2]:
>>> pip install nltk

Requirement already satisfied: nltk in c:\users\saipr\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: tqdm in c:\users\saipr\anaconda3\lib\site-packages (from nltk) (4.50.2)
Requirement already satisfied: regex in c:\users\saipr\anaconda3\lib\site-packages (from nltk) (2020.10.15)
Requirement already satisfied: joblib in c:\users\saipr\anaconda3\lib\site-packages (from nltk) (0.17.0)
Requirement already satisfied: click in c:\users\saipr\anaconda3\lib\site-packages (from nltk) (7.1.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import nltk

In [6]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\saipr\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [7]:
import pandas as pd

In [12]:
dt = pd.read_csv(r'C:\Users\saipr\Downloads\spam.csv',encoding='latin1')

In [13]:
dt.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
dt['spam'] = dt['type'].map({'spam' : 1,'ham' : 0}).astype(int)

In [15]:
dt.head()

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [17]:
print("columns")
for col in dt.columns:
    print(col)

columns
type
text
spam

In [18]:
t=len(dt['type'])
t

116

In [20]:
dt['text'][4]

"Nah I don't think he goes to usf, he lives around here though"

In [28]:
def tokenizer(text):
    return text.split()
dt['text']=dt['text'].apply(tokenizer)

In [29]:
dt['text'][4]

['Nah',
 'I',
 "don't",
 'think',
 'he',
 'goes',
 'to',
 'usf,',
 'he',
 'lives',
 'around',
 'here',
 'though']

In [30]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english",ignore_stopwords=False)

In [31]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [32]:
dt['text']=dt['text'].apply(stem_it)

In [33]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [34]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [35]:
def lemm_it(text):
    return [lemmatizer.lemmatize(word ,pos ='a') for word in text] 
dt['text'] = dt['text'].apply(lemm_it)

In [36]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [40]:
from nltk.corpus import stopwords
stop_words=stopwords.words("english")

In [38]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\saipr\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [41]:
def stop_it(text):
    review = [word for word in text if not word in stop_words]
    return review

In [42]:
dt['text']=dt['text'].apply(stop_it)

In [43]:
dt['text'][4]

['nah', 'think', 'goe', 'usf,', 'live', 'around', 'though']

In [44]:
dt.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [45]:
dt['text']=dt['text'].apply(' '.join)

In [46]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [59]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [60]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
from sklearn.metrics import accuracy_score
acc_log=accuracy_score(y_pred,y_test)*100
print("accuracy:",acc_log)

accuracy: 87.5